body {
   // background: url('images/paper-texture_(4).jpg') ;

    background: #fffdfd;
}
.btn-success{
    background-color: #a5a3a3;
    border-color: #918f8f;
}
.btn-success:hover{
    background-color: #727070;
    border-color: #5e5c5c;

}
.btn{
    background-color: #fffcf3;
    color: #000000;
}
.btn-success:disabled {
    background-color: #b9b7b7;
    border-color: #aeacac;
}
.navbar-dark .navbar-brand {
    color: #e7ffe7;
    text-shadow: 1px 1px 2px #030001, 0 0 1em #e7ffe7;
}
/*.main-content{
    width: 200px;
}*/
.modal-body{

    background: #dfdddd;
}
.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
    width: auto;
}

.table thead th {
    background: #d7d5d5;
    vertical-align: bottom;
    border-bottom: 0px solid #e3e0d7;
}
.table-hover, .table-hover>td, .table-hover>th {
    background: #eeecec;
}
.btn-outline-success {
    color: #fffdfd;
    background-color: transparent;
    background-image: none;
    border-color: #fffdfd;
}
.bg-dark {
    background: url("images/ocean.jpg") !important;
}
.table{
    font-size: 13px;
    color: #030001;

    font-family:	Roboto;
    //text-shadow: 1px 1px 2px #000000, 0 0 1em #030001;
}
.login-border {
    background: rgba(0, 100, 226, 0.03);
}
.main-name {
    padding: 20px;
}
